body { background-color:aqua;
}
        h1 {
            color: blue;
            font-family: verdana;
            font-size: 300%;
        }

        #p01 {
            color: red;
            font-family: courier;
            font-size: 160%;
            border: 1px solid powderblue;
            padding: 30px; /*space between text and border*/
            margin: 50px; /*margin outside the border*/
        }
        #p02 {
            color: blue;
        }
        p.error{
            color:red;
        }
        a:link {
            color: darkblue;
            background-color: transparent;
            text-decoration: none;
        }
        a:visited {
            color: pink;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }
        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
        img{
            height:500px;
            width:600px;
        }
